In [6]:
import logging
import argparse
from collections import Counter, OrderedDict
from pathlib import Path
from Bio.PDB import PDBParser, DSSP
from Bio import Data
from DSSPparser import parseDSSP
import pandas as pd
import collections

In [3]:
# Einzige Struktur zum testen
pdb_list = ['131l']

# hier einfach nur die beiden Listen erstellt nach denen wir groupen wollten um gleich innerhalb eines DF zu zählen
p = PDBParser()
for i in pdb_list:
    structure = p.get_structure(i, 'pdb%s.ent' % i)
    # use only the first model
    model = structure[0]
    # calculate DSSP
    dssp = DSSP(model, './pdb%s.ent' % i)
    # extract sequence and secondary structure from the DSSP tuple
    sequence = []
    sec_structure = list()
    #AA_dict = collections.defaultdict(int)
    aux_dict = {'H':'Helix','G':'Helix','I':'Helix','B':'Sheet','E':'Sheet','T':'Other','S':'Other','-':'Other'}
    for z in range(len(dssp)):
        a_key = list(dssp.keys())[z]
        #elm = ( dssp[a_key][1],aux_dict[dssp[a_key][2]])
        #AA_dict[elm] += 1
        sequence.append(str(dssp[a_key][1]))
        sec_structure.append(aux_dict[dssp[a_key][2]])

In [22]:
# Datafram aus den beiden Listen anstatt ein Dictionary
# groupby Befehl funkt nicht!!!!!!!!!!!!!!!!!!!!!!
AA_df = pd.DataFrame(list(zip(sequence,sec_structure)),columns=['AA','Structure'])
AA_df.groupby(['AA','Structure']).size().reset_index(name='Counts')
#AA_df['AA'].unique()
# Nach dem groupby sollten wir das DF dann 'pivoten' und die columns zu Helix Sheet und Other machen
AA_table = AA_df.pivot(index='AA',columns='Structure')
AA_df

    AA Structure
0    M     Other
1    N     Other
2    I     Helix
3    F     Helix
4    E     Helix
..  ..       ...
157  W     Other
158  D     Helix
159  A     Helix
160  Y     Helix
161  K     Other

[162 rows x 2 columns]

In [ ]:
# Einzige Struktur zum testen
pdb_list = ['131l']

# hier nochmal das gleiche nur statt Listen ein Dictionary eh das was wir schon probiert haben
p = PDBParser()
for i in pdb_list:
    structure = p.get_structure(i, 'pdb%s.ent' % i)
    # use only the first model
    model = structure[0]
    # calculate DSSP
    dssp = DSSP(model, './pdb%s.ent' % i)
    # extract sequence and secondary structure from the DSSP tuple
    sequence = []
    sec_structure = list()
    AA_dict = collections.defaultdict(int)
    aux_dict = {'H':'Helix','G':'Helix','I':'Helix','B':'Sheet','E':'Sheet','T':'Other','S':'Other','-':'Other'}
    for z in range(len(dssp)):
        a_key = list(dssp.keys())[z]
        elm = ( dssp[a_key][1],aux_dict[dssp[a_key][2]])
        AA_dict[elm] += 1
        #sequence.append(str(dssp[a_key][1]))
        #sec_structure.append(aux_dict[dssp[a_key][2]])

In [ ]:
# Erstellen Dataframe aus dem Dict und dann groupen und pivoten scheint nicht schlecht zu funktionieren
AA_data = pd.Series(AA_dict).rename_axis(['AA', 'Structures']).reset_index(name='Counts')
AA_data.pivot_table(values='Counts', index='AA', columns='Structures', aggfunc='first')

In [29]:
#df = pd.DataFrame(list(AA_dict.items()),columns = ['AA','Structure'])
#df

#n = 0 # N. . .
#lst = set([x[n] for x in AA_dict])
#print(lst)
Helix = []
Sheet = []
Other = []
AA_list = ('A','C','D','E','F','G','H','I','K','L','M','N','P','Q','R','S','T','V','W','Y')

In [40]:
pd.Series(AA_dict).reset_index()

   level_0 level_1   0
0        M   Other   1
1        N   Other   4
2        I   Helix   6
3        F   Helix   4
4        E   Helix   7
5        M   Helix   4
6        L   Helix   9
7        R   Helix  10
8        D   Helix   8
9        G   Other   7
10       L   Other   3
11       R   Sheet   1
12       L   Sheet   3
13       K   Sheet   2
14       I   Sheet   2
15       Y   Sheet   2
16       D   Other   2
17       T   Other   5
18       E   Other   1
19       Y   Other   1
20       S   Sheet   1
21       G   Sheet   1
22       I   Other   2
23       H   Sheet   1
24       T   Sheet   1
25       K   Other   5
26       S   Other   3
27       P   Other   1
28       N   Helix   7
29       A   Helix  15
30       K   Helix   6
31       S   Helix   3
32       R   Other   2
33       V   Sheet   1
34       Q   Helix   4
35       V   Helix   8
36       G   Helix   3
37       A   Other   1
38       P   Helix   2
39       Y   Helix   3
40       T   Helix   5
41       F   Other   1
42       Q   Other   1
43       W   Helix   2
44       W   Other   1

In [38]:
for i in AA_list:
    for e in AA_dict.items():
        if e[0][0] == i:
            if e[0][1] == 'Helix':
                Helix.append(e[1])

print(len(Helix))

54

In [28]:
b = {'AA':AA_list


AA_df = pd.DataFrame(b)
AA_df

   AA
0   A
1   C
2   D
3   E
4   F
5   G
6   H
7   I
8   K
9   L
10  M
11  N
12  P
13  Q
14  R
15  S
16  T
17  V
18  W
19  Y